.popupContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}
.popupContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;

  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}
.infoHeading {
  color: #460472;
}

.popupPara {
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: transparent;
  border: none;
  outline: none;
}

.cancelIcon {
  color: #db0a0a;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 576px) {
  .popupContent {
    min-width: 150px;
    max-width: 300px;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
  }
}
